[*.cs]

# S3881: "IDisposable" should be implemented correctly
dotnet_diagnostic.S3881.severity = none

# S3925: "ISerializable" should be implemented correctly
dotnet_diagnostic.S3925.severity = none
